## Process data & Join with Target variabel

Data streches from 22-05 -23-12, if its not 90Evers the rest of the data is excluded since we cannot know the outcome

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import os
import sqlalchemy as sa
import pyodbc
import warnings
import urllib
warnings.filterwarnings('ignore')



################### GET PAYMENT DATA ##########################

path = "../2. Python/Classes"
os.chdir(path)

from Preprocessing_Application_N import DataPreprocessor


# Define the path to the .env file
desktop_path = os.path.join(os.environ['HOME'], 'Desktop')
folder_path = os.path.join(desktop_path, 'L')
env_file_path = os.path.join(folder_path, '.env')

# Function to load credentials from a .env file
def load_credentials(file_path):
    credentials = {}
    with open(file_path, 'r') as file:
        for line in file:
            key, value = line.strip().split('=')
            credentials[key] = value
    return credentials

# Load the credentials
credentials = load_credentials(env_file_path)

In [2]:

# Initialize DataPreprocessor with all required parameters, including the driver
processor = DataPreprocessor(credentials['server'], credentials['nim_backup_db'], credentials['username'], credentials['password'], credentials['driver'])

print(os.getcwd())


path = "../../1. Data/SSN_Application - Target.sql"


df = processor.fetch_data_from_sql(path)

/Users/andreasnilsson/Library/CloudStorage/OneDrive-Nstart/Skrivbordet/Repository Homes/PSD2-Data-Engineering-Modeling-DATA-258-1/2. Python/Classes

In [3]:
df.sort_values(by='SSN')

,ReceivedDate,ApplicationID,AccountNumber,SSN,DisbursedDate,Amount,IsMainApplicant,ApplicantNo,HasCoapp,Ever90
4983,2023-07-10,8746736,7933575,0001011246,2023-07-11,177000.0,1,1,0,0
1192,2022-05-23,8264991,7757552,0001011709,2022-05-31,305000.0,1,1,1,0
5694,2023-10-13,8852723,7969710,0001016955,2023-10-18,32000.0,1,1,1,0
5077,2023-07-27,8764638,7939911,0001021096,2023-08-01,145000.0,1,1,0,0
3183,2022-12-07,8493347,7848427,0001031939,2022-12-14,310000.0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...
1580,2022-06-30,8299451,7773658,9912214393,2022-07-07,225000.0,1,1,0,0
3447,2023-01-09,8528109,7862196,9912226405,2023-01-13,180000.0,1,1,0,1
5034,2023-07-18,8756643,7937071,9912233906,2023-07-20,200000.0,1,1,0,0
1743,2022-07-18,8317664,7780794,9912270692,2022-07-19,125000.0,1,1,0,0
2901,2022-11-07,8455500,7833528,9912291243,2022-11-15,90000.0,1,1,0,0

In [4]:
df.Ever90.value_counts()

Ever90
0    5506
1     423
Name: count, dtype: int64

In [5]:
df[df.SSN == '9001144832']

,ReceivedDate,ApplicationID,AccountNumber,SSN,DisbursedDate,Amount,IsMainApplicant,ApplicantNo,HasCoapp,Ever90
454,2022-03-17,8212497,7732407,9001144832,2022-03-18,300000.0,1,1,1,0
1259,2022-06-01,8273573,7759988,9001144832,2022-06-07,330000.0,1,1,1,0

In [6]:
df.SSN

0       6305211465
1       7909276276
2       6502020784
3       7107216629
4       7804090467
           ...
5924    6501038605
5925    8609217537
5926    8612276900
5927    9310119012
5928    8810144868
Name: SSN, Length: 5929, dtype: object

In [7]:
path = "../../1. Data/Cleaned Transaction Data"
os.chdir(path)

In [8]:
os.getcwd()

'/Users/andreasnilsson/Library/CloudStorage/OneDrive-Nstart/Skrivbordet/Repository Homes/PSD2-Data-Engineering-Modeling-DATA-258-1/1. Data/Cleaned Transaction Data'

In [9]:
transactions = pd.read_excel('Transactions_Ink Nim Calculations 0-6132.xlsx')
len(set(transactions.SSN))

5709

In [10]:
transactions = transactions.drop_duplicates(subset='SSN', keep='first')

In [11]:
transactions['SSN'] = transactions['SSN'].astype(str).str.slice(2)

In [12]:
transactions

,NR,SSN,avg_CashWithdrawal,avg_Crypto,avg_DebtCollection,avg_Deposit,avg_DirectDebit,avg_Gambling,avg_Gaming,avg_HousingCost,...,Unclassified_partOfSalary6Months,Unclassified_partOfSalary9Months,Unclassified_sum12Months,Unclassified_sum3Months,Unclassified_sum6Months,Unclassified_sum9Months,sum creditors,sum debtCollectors,count creditors,count debtCollectors
0,60,0004046850,2657,0,176,273,0,788,3657,0,...,776.0,32826.0,425.2,405.0,421.3,421.8,451073.0,255645.0,446930.0,447491.0
1,59,0004017380,1076,0,795,1046,0,9360,21,2,...,679.0,76638.0,526.0,167.2,310.7,499.6,1046934.0,94420.0,285645.0,907144.0
2,58,0004012746,128,0,155,1586,0,35,120,1804,...,761.0,45257.0,281.2,193.5,432.9,315.9,616894.0,95364.0,511875.0,575740.0
3,57,0003316510,1453,0,1192,3013,0,1618,274,3,...,504.0,35871.0,167.5,228.7,212.8,165.7,453092.0,131107.0,241543.0,324339.0
4,56,0003315900,500,0,0,2259,0,0,0,0,...,220.0,13119.0,140.5,368.7,151.1,155.1,180437.0,138644.0,155818.0,172558.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6149,6138,9912128031,35,0,3141,3646,435,423,235,1157,...,127.4,100.0,162.9,123.6,257817.0,64578.0,145707.0,218865.0,NaN,NaN
6150,6137,9912108793,17,0,0,176,0,55,247,0,...,194.7,279.7,182.3,214.6,567568.0,148953.0,219701.0,447149.0,NaN,NaN
6151,6136,9912100253,42,0,152,1168,0,65,1147,150,...,131.2,91.6,116.8,122.5,365479.0,59859.0,153194.0,284911.0,NaN,NaN
6152,6135,9912089258,500,0,198,1956,0,88,1149,44,...,326.5,326.5,256.3,322.1,667121.0,127873.0,236328.0,473779.0,NaN,NaN
6153,6134,9912019248,1956,0,913,27933,1482,2619,169,8113,...,378.6,103.4,151.0,221.2,774471.0,61214.0,138287.0,309810.0,NaN,NaN

### Join Target with transactions

In [13]:
# Merge df with transactions to find non-matching SSNs
merged_df = pd.merge(df, transactions, on='SSN', how='inner', indicator=True)

In [14]:
transactions_filtered = transactions[~transactions['SSN'].isin(df['SSN'])]

In [15]:
transactions_filtered.tail(50)

,NR,SSN,avg_CashWithdrawal,avg_Crypto,avg_DebtCollection,avg_Deposit,avg_DirectDebit,avg_Gambling,avg_Gaming,avg_HousingCost,...,Unclassified_partOfSalary6Months,Unclassified_partOfSalary9Months,Unclassified_sum12Months,Unclassified_sum3Months,Unclassified_sum6Months,Unclassified_sum9Months,sum creditors,sum debtCollectors,count creditors,count debtCollectors
5692,4462,9401020483,259,0,0,1699,4849,143,40,10339,...,88.3,53.3,57.7,74.0,304376.0,51012.0,120851.0,212563.0,NaN,NaN
5697,4457,9312245955,2532,357,1717,4004,0,0,457,7833,...,442.8,475.9,465.7,478.8,1104975.0,312242.0,591220.0,911019.0,NaN,NaN
5715,4439,9311233028,21,0,3307,978,0,85,43,151,...,608.1,635.7,617.7,560.0,1536212.0,440736.0,877886.0,1184180.0,NaN,NaN
5720,4434,9311191697,1164,0,3420,0,0,269,385,2744,...,74.9,87.0,54.2,80.8,185608.0,47634.0,71836.0,157055.0,NaN,NaN
5721,4433,9311190368,167,0,153,3044,0,338,56,0,...,239.5,366.8,265.6,243.9,489214.0,178578.0,290715.0,401221.0,NaN,NaN
5729,4425,9311055314,23,0,0,1951,5470,354,273,8689,...,192.4,179.3,177.2,179.3,619826.0,135489.0,268752.0,406941.0,NaN,NaN
5731,4423,9310291613,0,0,14,0,0,0,0,3047,...,82.6,49.0,97.8,99.8,357222.0,53975.0,217847.0,323145.0,NaN,NaN
5740,4414,9310085353,0,0,26,1071,0,219,43,10,...,331.9,581.6,412.2,357.5,934843.0,406214.0,592618.0,762113.0,NaN,NaN
5741,4413,9310075719,5,0,0,25278,0,404,81,1558,...,185.1,440.8,273.3,216.2,547691.0,325181.0,400701.0,480847.0,NaN,NaN
5754,4400,9309153840,0,0,0,111,0,1336,189,0,...,147.7,190.3,169.2,165.1,229274.0,48466.0,86357.0,147043.0,NaN,NaN
5775,4379,9308240192,728,0,12,741,0,0,54,4098,...,100.0,100.0,100.0,100.0,178972.0,55122.0,101583.0,143401.0,NaN,NaN
5778,4376,9308175539,1050,0,577,466,324,719,76,5989,...,360.5,367.4,384.5,367.0,669458.0,155635.0,329218.0,470631.0,NaN,NaN
5784,4370,9308094326,177,0,636,2084,0,82,0,4126,...,295.7,312.0,342.6,317.4,865012.0,273061.0,571853.0,729918.0,NaN,NaN
5785,4369,9308082115,161,0,463,10756,0,484,785,3746,...,838.4,155.7,636.0,1122.7,451259.0,42128.0,213784.0,377383.0,NaN,NaN
5789,4365,9307312653,35,0,47,323,0,17,1110,761,...,98.8,50.8,54.7,67.0,375763.0,46374.0,99438.0,181251.0,NaN,NaN
5795,4359,9307213521,14,0,2584,4119,0,7,160,0,...,676.6,762.7,679.3,706.3,1242123.0,241251.0,570488.0,915931.0,NaN,NaN
5799,4355,9307166711,96,0,0,1617,0,267,7,225,...,58.3,39.9,51.4,57.5,218177.0,28537.0,76225.0,169387.0,NaN,NaN
5800,4354,9307164393,300,0,0,577,0,887,260,0,...,286.9,183.7,307.8,330.9,1055598.0,166360.0,571809.0,901485.0,NaN,NaN
5802,4352,9307150152,207,0,318,1952,1572,75,65,385,...,193.1,136.5,191.9,198.2,479048.0,88967.0,260561.0,388131.0,NaN,NaN
5815,4339,9306299455,392,0,7,1044,0,10,74,0,...,230.3,84.7,134.3,167.3,364637.0,66934.0,200284.0,264891.0,NaN,NaN
5816,4338,9306298705,235,0,0,54,0,0,243,10333,...,218.6,190.2,277.6,234.8,460523.0,101692.0,295408.0,373634.0,NaN,NaN
5819,4335,9306187817,3926,0,23,6928,0,32706,73,0,...,185.4,52.5,148.6,185.3,597579.0,25896.0,171393.0,366235.0,NaN,NaN
5826,4328,9306105264,58,0,329,1283,0,5,129,26,...,96.7,97.7,113.8,103.7,394232.0,101591.0,238825.0,324472.0,NaN,NaN
5830,4324,9306080368,1855,0,615,717,0,7,185,5818,...,96.0,91.7,109.3,109.2,174540.0,44206.0,89497.0,137895.0,NaN,NaN
5833,4321,9306045999,0,0,144,677,0,338,0,0,...,336.9,438.3,393.2,366.7,1020478.0,337513.0,688202.0,881933.0,NaN,NaN
5834,4320,9306029258,7,0,288,246,0,8,373,0,...,87.0,122.6,116.0,100.6,235781.0,78304.0,175419.0,216654.0,NaN,NaN
5835,4319,9306019556,26,0,66,1283,0,4266,580,2492,...,125.0,48.5,78.3,108.0,283099.0,48860.0,127399.0,244539.0,NaN,NaN
5842,4312,9305142425,371,0,3053,3,0,52,1130,17,...,400.1,548.1,408.1,380.8,1114428.0,398466.0,671388.0,890930.0,NaN,NaN
5847,4307,9305059132,2171,0,880,1538,0,7,196,528,...,179.2,240.8,252.2,204.3,456248.0,128739.0,318781.0,400545.0,NaN,NaN
5850,4304,9304281471,1531,0,1061,2496,0,627,70,7089,...,252.9,197.8,307.3,298.0,532003.0,94081.0,328438.0,483847.0,NaN,NaN
5856,4298,9211142840,359,0,0,381,0,64,183,0,...,132.5,163.6,143.0,130.5,332183.0,101669.0,172503.0,243551.0,NaN,NaN
5882,4272,9210144375,3600,0,1759,2658,0,938,2034,5583,...,345.8,341.0,349.1,375.8,1275538.0,319615.0,657816.0,1097711.0,NaN,NaN
5893,4261,9209143172,1147,0,2367,3799,0,59,9,0,...,177.8,353.5,208.4,191.7,414136.0,139355.0,213725.0,325156.0,NaN,NaN
5899,4255,9209121822,342,0,53,9055,2436,1512,0,0,...,342.7,301.9,288.8,365.3,1034818.0,226105.0,434715.0,806107.0,NaN,NaN
5918,4236,9208015520,54,0,85,10318,3421,79,206,12803,...,187.0,77.9,88.7,141.1,316555.0,72285.0,146982.0,235524.0,NaN,NaN
5923,4231,9207274060,1500,0,363,1717,0,2613,95,271,...,44.5,36.6,36.5,41.2,153110.0,32713.0,65989.0,110174.0,NaN,NaN
5934,4220,9207135592,488,0,1080,0,0,25,245,0,...,178.8,112.7,143.7,144.8,290212.0,93841.0,198748.0,235012.0,NaN,NaN
5935,4219,9207130809,0,0,55,15376,1605,0,142,2775,...,277.3,550.6,346.2,303.7,456602.0,326157.0,393079.0,447157.0,NaN,NaN
5940,4214,9207023814,750,0,2631,2462,0,9,28,4525,...,266.9,277.9,269.4,243.8,503155.0,161751.0,311012.0,420127.0,NaN,NaN
5957,4197,9205314389,0,0,1396,11732,3661,10019,376,0,...,368.5,351.3,376.1,370.6,999106.0,259240.0,521666.0,767222.0,NaN,NaN
5960,4194,9205303044,2042,0,686,1514,0,23,17,7619,...,82.5,65.6,56.7,78.1,248451.0,48420.0,85520.0,179506.0,NaN,NaN
5963,4191,9205235618,7235,0,632,6435,19,2782,967,2,...,253.1,333.9,272.8,253.3,416663.0,207325.0,276724.0,344300.0,NaN,NaN
5965,4189,9205227672,361,0,1202,9324,0,194,948,8491,...,147.6,1038.8,157.6,113.8,187138.0,64780.0,88080.0,121465.0,NaN,NaN
5973,4181,9205096028,0,0,104,11061,0,227,7,0,...,147.4,405.2,559.2,210.8,231344.0,48561.0,109109.0,146831.0,NaN,NaN
5975,4179,9205041123,0,0,593,540,0,0,4589,0,...,319.9,388.9,357.6,326.3,616537.0,163471.0,306973.0,466069.0,NaN,NaN
5985,4169,9204213467,319,0,155,535,0,0,12,0,...,288.9,222.7,209.0,228.0,791032.0,169345.0,325751.0,497513.0,NaN,NaN
5987,4167,9204202510,263,0,973,23363,4346,21,0,0,...,250.3,167.9,201.1,269.2,1137939.0,198374.0,472525.0,957360.0,NaN,NaN
5998,4156,9203280319,596,0,58,1535,491,545,223,25,...,342.4,376.0,323.8,368.8,442994.0,104032.0,203529.0,346073.0,NaN,NaN
6014,6123,9911177138,1138,0,1788,1800,0,739,748,1552,...,94.8,86.9,340249.0,101596.0,190197.0,263363.0,NaN,NaN,NaN,NaN
6145,6142,9912157519,1998,0,71,1259,0,95,55,2,...,646.9,362.7,438.4,564.4,464629.0,251845.0,304356.0,391891.0,NaN,NaN

In [16]:
transactions[transactions.SSN == '0003305547']

,NR,SSN,avg_CashWithdrawal,avg_Crypto,avg_DebtCollection,avg_Deposit,avg_DirectDebit,avg_Gambling,avg_Gaming,avg_HousingCost,...,Unclassified_partOfSalary6Months,Unclassified_partOfSalary9Months,Unclassified_sum12Months,Unclassified_sum3Months,Unclassified_sum6Months,Unclassified_sum9Months,sum creditors,sum debtCollectors,count creditors,count debtCollectors
5,55,0003305547,2317,0,1294,2494,0,37,125,0,...,890.0,45076.0,302.5,305.5,300.5,277.4,581852.0,182253.0,352434.0,483413.0

In [17]:
df[df.SSN == '0003305547']

Empty DataFrame
Columns: [ReceivedDate, ApplicationID, AccountNumber, SSN, DisbursedDate, Amount, IsMainApplicant, ApplicantNo, HasCoapp, Ever90]
Index: []

In [18]:
merged_df = merged_df.drop_duplicates()

In [19]:
merged_df

,ReceivedDate,ApplicationID,AccountNumber,SSN,DisbursedDate,Amount,IsMainApplicant,ApplicantNo,HasCoapp,Ever90,...,Unclassified_partOfSalary9Months,Unclassified_sum12Months,Unclassified_sum3Months,Unclassified_sum6Months,Unclassified_sum9Months,sum creditors,sum debtCollectors,count creditors,count debtCollectors,_merge
0,2022-02-11,8185902,7720410,9110280782,2022-02-15,240000.0,1,1,0,0,...,17267.0,97.9,90.3,105.8,103.2,226735.0,56348.0,128736.0,183396.0,both
1,2022-02-21,8192526,7724719,9611102204,2022-02-25,105000.0,1,1,0,0,...,29.1,84.8,79.9,187603.0,16423.0,99416.0,144479.0,NaN,NaN,both
2,2022-03-01,8199216,7726243,9604274911,2022-03-02,146000.0,1,1,0,0,...,513.6,419.9,430.4,981711.0,110771.0,475430.0,778351.0,NaN,NaN,both
3,2022-03-01,8199738,7726482,9709124888,2022-03-03,80000.0,1,1,0,0,...,236.6,152.5,139.5,294364.0,139170.0,190490.0,253897.0,NaN,NaN,both
4,2022-03-02,8200529,7726854,8904272500,2022-03-11,125000.0,1,1,0,0,...,230.5,537430.0,186804.0,376038.0,465261.0,NaN,NaN,NaN,NaN,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4752,2023-11-26,8893962,7982648,6501038605,2023-11-29,115000.0,1,1,1,0,...,21777.0,133.5,155.1,128.9,130.7,285436.0,79645.0,141430.0,211217.0,both
4753,2023-11-27,8895474,7982663,8609217537,2023-11-29,361000.0,0,2,1,0,...,366.5,1702810.0,545095.0,873504.0,1059542.0,NaN,NaN,NaN,NaN,both
4754,2023-11-27,8895474,7982663,8612276900,2023-11-29,361000.0,1,1,1,0,...,766.4,250316.0,210976.0,217627.0,225101.0,NaN,NaN,NaN,NaN,both
4755,2023-11-29,8897063,7983174,9310119012,2023-11-30,190000.0,1,1,0,0,...,366.6,655.4,561.0,1737339.0,346243.0,1265976.0,1548267.0,NaN,NaN,both
4756,2023-11-29,8897988,7983364,8810144868,2023-11-30,70000.0,1,1,0,0,...,144.4,255236.0,120495.0,163464.0,215691.0,NaN,NaN,NaN,NaN,both

In [20]:
merged_df[merged_df.AccountNumber == '7732407']

,ReceivedDate,ApplicationID,AccountNumber,SSN,DisbursedDate,Amount,IsMainApplicant,ApplicantNo,HasCoapp,Ever90,...,Unclassified_partOfSalary9Months,Unclassified_sum12Months,Unclassified_sum3Months,Unclassified_sum6Months,Unclassified_sum9Months,sum creditors,sum debtCollectors,count creditors,count debtCollectors,_merge
24,2022-03-17,8212497,7732407,9001144832,2022-03-18,300000.0,1,1,1,0,...,116.7,283294.0,66356.0,136740.0,209745.0,NaN,NaN,NaN,NaN,both

In [21]:
frame = merged_df.sort_values(by='ReceivedDate')

frame['ReceivedDate'] = pd.to_datetime(frame['ReceivedDate'])



target = frame[frame.Ever90 == 1]
rest = frame[frame.Ever90 == 0]
rest = rest[ (rest.ReceivedDate < pd.to_datetime('2023-05-01'))]

df = pd.concat([target,rest])

In [22]:

# List to save columns that contain string values
savestringcolumns = []

for c in df.columns:
    # Skip specified columns
    if c in ['ApplicationID', 'SSN']:
        continue

    # Check and handle string values
    df[c] = df[c].apply(lambda x: 0 if isinstance(x, str) else x)
    savestringcolumns.append(c) if df[c].dtype == 'object' else df[c].fillna(0, inplace=True)

# Print the modified DataFrame
print(df)

     ReceivedDate ApplicationID  AccountNumber         SSN DisbursedDate  \
13     2022-03-08       8205045              0  7711025523    2022-03-10
55     2022-04-07       8228347              0  9804048719    2022-04-22
51     2022-04-08       8229075              0  6501225061    2022-04-12
50     2022-04-11       8230481              0  9606236371    2022-04-13
218    2022-04-15       8233936              0  8602147608    2022-06-08
...           ...           ...            ...         ...           ...
3404   2023-04-28       8660675              0  8902289209    2023-05-31
3405   2023-04-28       8660675              0  8903213695    2023-05-31
3401   2023-04-28       8660600              0  8007075586    2023-05-08
3402   2023-04-28       8660600              0  8203014934    2023-05-08
3412   2023-04-30       8661965              0  9106092506    2023-05-09

        Amount  IsMainApplicant  ApplicantNo  HasCoapp  Ever90  ...  \
13    250000.0                1            1         0       1  ...
55    400000.0                1            1         1       1  ...
51    240000.0                1            1         0       1  ...
50    295000.0                1            1         0       1  ...
218   270000.0                1            1         0       1  ...
...        ...              ...          ...       ...     ...  ...
3404  271000.0                1            1         1       0  ...
3405  271000.0                0            2         1       0  ...
3401  350000.0                1            1         1       0  ...
3402  350000.0                0            2         1       0  ...
3412  210000.0                1            1         1       0  ...

      Unclassified_partOfSalary9Months  Unclassified_sum12Months  \
13                             50227.0                     224.1
55                               763.7                    1333.3
51                             85589.0                     322.8
50                               268.0                     476.0
218                              379.3                 1362741.0
...                                ...                       ...
3404                             195.3                  381102.0
3405                             121.2                  348937.0
3401                           40754.0                     165.3
3402                           38839.0                      96.0
3412                           18829.0                     133.1

      Unclassified_sum3Months  Unclassified_sum6Months  \
13                      248.5                    247.0
55                     1553.4                2678645.0
51                      415.5                    320.5
50                      439.5                 883993.0
218                  251386.0                 547363.0
...                       ...                      ...
3404                  84024.0                 274075.0
3405                  91087.0                 215240.0
3401                    135.9                    130.5
3402                     76.7                     72.3
3412                    161.4                    128.7

      Unclassified_sum9Months  sum creditors  sum debtCollectors  \
13                      258.4       630444.0             81995.0
55                   241491.0      1655157.0           2249127.0
51                      331.8       882268.0            279047.0
50                   100348.0       452428.0            627919.0
218                  971946.0            0.0                 0.0
...                       ...            ...                 ...
3404                 312523.0            0.0                 0.0
3405                 265065.0            0.0                 0.0
3401                    145.1       509094.0            147353.0
3402                     92.7       487593.0            113811.0
3412                    121.5       241308.0             44420.0

      count creditors  count debtCollectors  _merge
13           288551.0              519248.0       0
55                0.0                   0.0       0
51           442904.0              685525.0       0
50                0.0                   0.0       0
218               0.0                   0.0       0
...               ...                   ...     ...
3404              0.0                   0.0       0
3405              0.0                   0.0       0
3401         245526.0              367844.0       0
3402         198074.0              353883.0       0
3412         106884.0              161468.0       0

[3493 rows x 280 columns]

In [23]:
df

,ReceivedDate,ApplicationID,AccountNumber,SSN,DisbursedDate,Amount,IsMainApplicant,ApplicantNo,HasCoapp,Ever90,...,Unclassified_partOfSalary9Months,Unclassified_sum12Months,Unclassified_sum3Months,Unclassified_sum6Months,Unclassified_sum9Months,sum creditors,sum debtCollectors,count creditors,count debtCollectors,_merge
13,2022-03-08,8205045,0,7711025523,2022-03-10,250000.0,1,1,0,1,...,50227.0,224.1,248.5,247.0,258.4,630444.0,81995.0,288551.0,519248.0,0
55,2022-04-07,8228347,0,9804048719,2022-04-22,400000.0,1,1,1,1,...,763.7,1333.3,1553.4,2678645.0,241491.0,1655157.0,2249127.0,0.0,0.0,0
51,2022-04-08,8229075,0,6501225061,2022-04-12,240000.0,1,1,0,1,...,85589.0,322.8,415.5,320.5,331.8,882268.0,279047.0,442904.0,685525.0,0
50,2022-04-11,8230481,0,9606236371,2022-04-13,295000.0,1,1,0,1,...,268.0,476.0,439.5,883993.0,100348.0,452428.0,627919.0,0.0,0.0,0
218,2022-04-15,8233936,0,8602147608,2022-06-08,270000.0,1,1,0,1,...,379.3,1362741.0,251386.0,547363.0,971946.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3404,2023-04-28,8660675,0,8902289209,2023-05-31,271000.0,1,1,1,0,...,195.3,381102.0,84024.0,274075.0,312523.0,0.0,0.0,0.0,0.0,0
3405,2023-04-28,8660675,0,8903213695,2023-05-31,271000.0,0,2,1,0,...,121.2,348937.0,91087.0,215240.0,265065.0,0.0,0.0,0.0,0.0,0
3401,2023-04-28,8660600,0,8007075586,2023-05-08,350000.0,1,1,1,0,...,40754.0,165.3,135.9,130.5,145.1,509094.0,147353.0,245526.0,367844.0,0
3402,2023-04-28,8660600,0,8203014934,2023-05-08,350000.0,0,2,1,0,...,38839.0,96.0,76.7,72.3,92.7,487593.0,113811.0,198074.0,353883.0,0
3412,2023-04-30,8661965,0,9106092506,2023-05-09,210000.0,1,1,1,0,...,18829.0,133.1,161.4,128.7,121.5,241308.0,44420.0,106884.0,161468.0,0

In [24]:
df

,ReceivedDate,ApplicationID,AccountNumber,SSN,DisbursedDate,Amount,IsMainApplicant,ApplicantNo,HasCoapp,Ever90,...,Unclassified_partOfSalary9Months,Unclassified_sum12Months,Unclassified_sum3Months,Unclassified_sum6Months,Unclassified_sum9Months,sum creditors,sum debtCollectors,count creditors,count debtCollectors,_merge
13,2022-03-08,8205045,0,7711025523,2022-03-10,250000.0,1,1,0,1,...,50227.0,224.1,248.5,247.0,258.4,630444.0,81995.0,288551.0,519248.0,0
55,2022-04-07,8228347,0,9804048719,2022-04-22,400000.0,1,1,1,1,...,763.7,1333.3,1553.4,2678645.0,241491.0,1655157.0,2249127.0,0.0,0.0,0
51,2022-04-08,8229075,0,6501225061,2022-04-12,240000.0,1,1,0,1,...,85589.0,322.8,415.5,320.5,331.8,882268.0,279047.0,442904.0,685525.0,0
50,2022-04-11,8230481,0,9606236371,2022-04-13,295000.0,1,1,0,1,...,268.0,476.0,439.5,883993.0,100348.0,452428.0,627919.0,0.0,0.0,0
218,2022-04-15,8233936,0,8602147608,2022-06-08,270000.0,1,1,0,1,...,379.3,1362741.0,251386.0,547363.0,971946.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3404,2023-04-28,8660675,0,8902289209,2023-05-31,271000.0,1,1,1,0,...,195.3,381102.0,84024.0,274075.0,312523.0,0.0,0.0,0.0,0.0,0
3405,2023-04-28,8660675,0,8903213695,2023-05-31,271000.0,0,2,1,0,...,121.2,348937.0,91087.0,215240.0,265065.0,0.0,0.0,0.0,0.0,0
3401,2023-04-28,8660600,0,8007075586,2023-05-08,350000.0,1,1,1,0,...,40754.0,165.3,135.9,130.5,145.1,509094.0,147353.0,245526.0,367844.0,0
3402,2023-04-28,8660600,0,8203014934,2023-05-08,350000.0,0,2,1,0,...,38839.0,96.0,76.7,72.3,92.7,487593.0,113811.0,198074.0,353883.0,0
3412,2023-04-30,8661965,0,9106092506,2023-05-09,210000.0,1,1,1,0,...,18829.0,133.1,161.4,128.7,121.5,241308.0,44420.0,106884.0,161468.0,0

In [26]:

exclude = ['ReceivedDate','ApplicationID','SSN','DisbursedDate','Amount','IsMainApplicant','ApplicantNo','NR']


# Function to check for columns with string values and return the columns along with unique string values
def find_columns_with_strings_and_values(df,exclude):
    string_columns = {}
    for col in df.columns:

        if col in exclude:
            continue

        string_values = set(df[col].apply(lambda x: x if isinstance(x, str) else None).dropna())
        if string_values:
            string_columns[col] = string_values
    return string_columns

# Find columns with string values and their unique string values
columns_with_strings_and_values = find_columns_with_strings_and_values(df,exclude)

# Print the results
for col, values in columns_with_strings_and_values.items():
    print(f"Column '{col}' contains string values: {values}")

In [30]:
df.to_excel('PreeProcessed_Psd2.xlsx', index=False)