## Target Hypothesis

1. Score both Main & Co as two seperate customers

bs = fit(bs)

ws = fit(ws)


2. Make a model of both with Co as a dummy


bs = xtrain (bs,ws)



3. Worst 

if main = main:

else:

    ws


4. Best --makes sence     1. Main -- Always main -->  2. CO --> best score 


if main = main:

else:

    bs

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import os
import sqlalchemy as sa
import pyodbc
import warnings
import urllib
warnings.filterwarnings('ignore')



################### GET PAYMENT DATA ##########################

path = "../1. Data/Cleaned Transaction Data"
os.chdir(path)

In [2]:
df = pd.read_excel('PreeProcessed_Psd2.xlsx')

In [3]:
df = df.iloc[:,9:]
df = df.drop(columns=['NR','_merge'])

In [4]:
df

,Ever90,avg_CashWithdrawal,avg_Crypto,avg_DebtCollection,avg_Deposit,avg_DirectDebit,avg_Gambling,avg_Gaming,avg_HousingCost,avg_InstallmentPayment,...,Unclassified_partOfSalary6Months,Unclassified_partOfSalary9Months,Unclassified_sum12Months,Unclassified_sum3Months,Unclassified_sum6Months,Unclassified_sum9Months,sum creditors,sum debtCollectors,count creditors,count debtCollectors
0,1,0,0,1017,1243,0,11,21,887,8444,...,770.0,50227.0,224.1,248.5,247.0,258.4,630444.0,81995.0,288551.0,519248.0
1,1,1717,0,899,3788,0,99403,1615,0,14614,...,1330.7,763.7,1333.3,1553.4,2678645.0,241491.0,1655157.0,2249127.0,NaN,NaN
2,1,7757,0,1614,18338,0,845,0,0,8678,...,841.0,85589.0,322.8,415.5,320.5,331.8,882268.0,279047.0,442904.0,685525.0
3,1,2885,0,956,1502,0,896,38,644,14717,...,446.6,268.0,476.0,439.5,883993.0,100348.0,452428.0,627919.0,NaN,NaN
4,1,2,0,2337,1063,0,1701,43,3178,9537,...,318.5,379.3,1362741.0,251386.0,547363.0,971946.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,0,1297,0,2293,3276,0,0,19,2284,5349,...,241.9,195.3,381102.0,84024.0,274075.0,312523.0,NaN,NaN,NaN,NaN
3489,0,1142,0,14629,1435,0,0,29,1750,5358,...,155.3,121.2,348937.0,91087.0,215240.0,265065.0,NaN,NaN,NaN,NaN
3490,0,25,0,3304,1649,0,0,44,0,8888,...,640.0,40754.0,165.3,135.9,130.5,145.1,509094.0,147353.0,245526.0,367844.0
3491,0,0,0,0,986,742,261,33,0,22999,...,505.0,38839.0,96.0,76.7,72.3,92.7,487593.0,113811.0,198074.0,353883.0
3492,0,0,0,5155,799,0,6,434,4524,4686,...,636.0,18829.0,133.1,161.4,128.7,121.5,241308.0,44420.0,106884.0,161468.0

In [35]:
pd.set_option('display.max_columns', None)

In [7]:
## These are fucked and have so much features so might just exclude them

savestringcolumns = []

for c in df.columns:

    if type(df[c][0]) == str:
        savestringcolumns.append(c)


    df[c] = df[c]

df = df.drop(columns=savestringcolumns)

In [9]:
df['count creditors'].isna()

0       False
1        True
2       False
3        True
4        True
        ...
3488     True
3489     True
3490    False
3491    False
3492    False
Name: count creditors, Length: 3493, dtype: bool

In [10]:
df

,Ever90,avg_CashWithdrawal,avg_Crypto,avg_DebtCollection,avg_Deposit,avg_DirectDebit,avg_Gambling,avg_Gaming,avg_HousingCost,avg_InstallmentPayment,...,Unclassified_partOfSalary6Months,Unclassified_partOfSalary9Months,Unclassified_sum12Months,Unclassified_sum3Months,Unclassified_sum6Months,Unclassified_sum9Months,sum creditors,sum debtCollectors,count creditors,count debtCollectors
0,1,0,0,1017,1243,0,11,21,887,8444,...,770.0,50227.0,224.1,248.5,247.0,258.4,630444.0,81995.0,288551.0,519248.0
1,1,1717,0,899,3788,0,99403,1615,0,14614,...,1330.7,763.7,1333.3,1553.4,2678645.0,241491.0,1655157.0,2249127.0,NaN,NaN
2,1,7757,0,1614,18338,0,845,0,0,8678,...,841.0,85589.0,322.8,415.5,320.5,331.8,882268.0,279047.0,442904.0,685525.0
3,1,2885,0,956,1502,0,896,38,644,14717,...,446.6,268.0,476.0,439.5,883993.0,100348.0,452428.0,627919.0,NaN,NaN
4,1,2,0,2337,1063,0,1701,43,3178,9537,...,318.5,379.3,1362741.0,251386.0,547363.0,971946.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,0,1297,0,2293,3276,0,0,19,2284,5349,...,241.9,195.3,381102.0,84024.0,274075.0,312523.0,NaN,NaN,NaN,NaN
3489,0,1142,0,14629,1435,0,0,29,1750,5358,...,155.3,121.2,348937.0,91087.0,215240.0,265065.0,NaN,NaN,NaN,NaN
3490,0,25,0,3304,1649,0,0,44,0,8888,...,640.0,40754.0,165.3,135.9,130.5,145.1,509094.0,147353.0,245526.0,367844.0
3491,0,0,0,0,986,742,261,33,0,22999,...,505.0,38839.0,96.0,76.7,72.3,92.7,487593.0,113811.0,198074.0,353883.0
3492,0,0,0,5155,799,0,6,434,4524,4686,...,636.0,18829.0,133.1,161.4,128.7,121.5,241308.0,44420.0,106884.0,161468.0